## Deliverable 2. Create a Customer Travel Destinations Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Googleapiconfig import g_api_key

# Configure gmaps API key
gmaps.configure(api_key=g_api_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,weather description
0,0,Neuquen,AR,2022-07-22 22:58:34,-38.9516,-68.0591,51.69,50,0,5.75,light rain
1,1,Husavik,IS,2022-07-22 22:58:35,66.0449,-17.3389,48.25,90,28,4.32,scattered clouds
2,2,Ushuaia,AR,2022-07-22 22:54:09,-54.8000,-68.3000,35.26,93,100,21.85,light rain
3,3,Castro,BR,2022-07-22 22:57:37,-24.7911,-50.0119,59.00,71,81,2.19,broken clouds
4,4,Bengkulu,ID,2022-07-22 22:54:07,-3.8004,102.2655,75.02,87,80,4.36,broken clouds

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,weather description
0,0,Neuquen,AR,2022-07-22 22:58:34,-38.9516,-68.0591,51.69,50,0,5.75,light rain
3,3,Castro,BR,2022-07-22 22:57:37,-24.7911,-50.0119,59.00,71,81,2.19,broken clouds
4,4,Bengkulu,ID,2022-07-22 22:54:07,-3.8004,102.2655,75.02,87,80,4.36,broken clouds
5,5,Thompson,CA,2022-07-22 22:57:38,55.7435,-97.8558,59.16,77,100,6.91,overcast clouds
7,7,Nikolskoye,RU,2022-07-22 22:58:36,59.7035,30.7861,67.91,79,16,5.64,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
712,712,Korla,CN,2022-07-22 23:21:37,41.7597,86.1469,78.58,25,0,4.07,clear sky
713,713,Darlawn,IN,2022-07-22 23:21:38,24.0167,92.9000,69.69,99,100,1.07,light rain
714,714,Bend,US,2022-07-22 23:19:56,44.0582,-121.3153,87.08,18,0,10.36,clear sky
715,715,Sobolevo,RU,2022-07-22 23:21:38,54.4299,31.8996,59.47,80,28,1.43,scattered clouds
716,716,Zlutice,CZ,2022-07-22 23:21:39,50.0919,13.1630,66.87,66,55,2.57,broken clouds

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df[preferred_cities_df.isna().any(axis=1)]
#preferred_cities_df.isnull().sum()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,weather description
16,16,Luderitz,NaN,2022-07-22 22:57:43,-26.6481,15.1594,58.12,68,49,15.12,scattered clouds
188,188,Mariental,NaN,2022-07-22 22:59:39,-24.6333,17.9667,59.49,34,0,10.36,clear sky
193,193,Opuwo,NaN,2022-07-22 23:04:06,-18.0607,13.8400,60.31,34,0,5.01,clear sky
207,207,Walvis Bay,NaN,2022-07-22 22:59:38,-22.9575,14.5053,72.55,28,0,13.80,clear sky
440,440,Henties Bay,NaN,2022-07-22 23:13:42,-22.1160,14.2845,57.90,81,0,6.15,clear sky

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,weather description
0,0,Neuquen,AR,2022-07-22 22:58:34,-38.9516,-68.0591,51.69,50,0,5.75,light rain
3,3,Castro,BR,2022-07-22 22:57:37,-24.7911,-50.0119,59.00,71,81,2.19,broken clouds
4,4,Bengkulu,ID,2022-07-22 22:54:07,-3.8004,102.2655,75.02,87,80,4.36,broken clouds
5,5,Thompson,CA,2022-07-22 22:57:38,55.7435,-97.8558,59.16,77,100,6.91,overcast clouds
7,7,Nikolskoye,RU,2022-07-22 22:58:36,59.7035,30.7861,67.91,79,16,5.64,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
712,712,Korla,CN,2022-07-22 23:21:37,41.7597,86.1469,78.58,25,0,4.07,clear sky
713,713,Darlawn,IN,2022-07-22 23:21:38,24.0167,92.9000,69.69,99,100,1.07,light rain
714,714,Bend,US,2022-07-22 23:19:56,44.0582,-121.3153,87.08,18,0,10.36,clear sky
715,715,Sobolevo,RU,2022-07-22 23:21:38,54.4299,31.8996,59.47,80,28,1.43,scattered clouds
716,716,Zlutice,CZ,2022-07-22 23:21:39,50.0919,13.1630,66.87,66,55,2.57,broken clouds

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "weather description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,weather description,Lat,Lng,Hotel Name
0,Neuquen,AR,51.69,light rain,-38.9516,-68.0591,
3,Castro,BR,59.00,broken clouds,-24.7911,-50.0119,
4,Bengkulu,ID,75.02,broken clouds,-3.8004,102.2655,
5,Thompson,CA,59.16,overcast clouds,55.7435,-97.8558,
7,Nikolskoye,RU,67.91,few clouds,59.7035,30.7861,
8,Shelburne,CA,80.11,scattered clouds,44.0787,-80.2041,
9,Bathsheba,BB,83.01,few clouds,13.2167,-59.5167,
10,Helong,CN,66.27,broken clouds,42.5397,128.9972,
11,Esperance,AU,55.56,broken clouds,-33.8667,121.9000,
13,Omoljica,RS,75.42,clear sky,44.7606,20.7281,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_api_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,weather description,Lat,Lng,Hotel Name
0,Neuquen,AR,51.69,light rain,-38.9516,-68.0591,Hotel del Comahue
3,Castro,BR,59.00,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
4,Bengkulu,ID,75.02,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
5,Thompson,CA,59.16,overcast clouds,55.7435,-97.8558,Burntwood Hotel
7,Nikolskoye,RU,67.91,few clouds,59.7035,30.7861,Tourist House - Sablino
...,...,...,...,...,...,...,...
712,Korla,CN,78.58,clear sky,41.7597,86.1469,Gulisitan Hotel
713,Darlawn,IN,69.69,light rain,24.0167,92.9000,BNRGSK BUILDING
714,Bend,US,87.08,clear sky,44.0582,-121.3153,Fairfield Inn & Suites by Marriott Bend Downtown
715,Sobolevo,RU,59.47,scattered clouds,54.4299,31.8996,
716,Zlutice,CZ,66.87,broken clouds,50.0919,13.1630,Penzion Nad Hradbami

In [18]:
#hotel_df
#hotel_df.count(hotel_df[hotel_df['Hotel Name']!= ''])
print(sum(hotel_df['Hotel Name'] == ''))

69

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df['Hotel Name'] != '']

print(clean_hotel_df)

           City Country  Max Temp weather description      Lat       Lng  \
0       Neuquen      AR     51.69          light rain -38.9516  -68.0591
3        Castro      BR     59.00       broken clouds -24.7911  -50.0119
4      Bengkulu      ID     75.02       broken clouds  -3.8004  102.2655
5      Thompson      CA     59.16     overcast clouds  55.7435  -97.8558
7    Nikolskoye      RU     67.91          few clouds  59.7035   30.7861
..          ...     ...       ...                 ...      ...       ...
710     Malanje      AO     69.03       broken clouds  -9.5402   16.3410
712       Korla      CN     78.58           clear sky  41.7597   86.1469
713     Darlawn      IN     69.69          light rain  24.0167   92.9000
714        Bend      US     87.08           clear sky  44.0582 -121.3153
716     Zlutice      CZ     66.87       broken clouds  50.0919   13.1630

                                           Hotel Name
0                                   Hotel del Comahue
3                                      CHACARA BAILLY
4                                Grage Hotel Bengkulu
5                                     Burntwood Hotel
7                             Tourist House - Sablino
..                                                ...
710                                       Hotel Ginga
712                                   Gulisitan Hotel
713                                   BNRGSK BUILDING
714  Fairfield Inn & Suites by Marriott Bend Downtown
716                              Penzion Nad Hradbami

[548 rows x 7 columns]

In [20]:
clean_hotel_df

,City,Country,Max Temp,weather description,Lat,Lng,Hotel Name
0,Neuquen,AR,51.69,light rain,-38.9516,-68.0591,Hotel del Comahue
3,Castro,BR,59.00,broken clouds,-24.7911,-50.0119,CHACARA BAILLY
4,Bengkulu,ID,75.02,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
5,Thompson,CA,59.16,overcast clouds,55.7435,-97.8558,Burntwood Hotel
7,Nikolskoye,RU,67.91,few clouds,59.7035,30.7861,Tourist House - Sablino
...,...,...,...,...,...,...,...
710,Malanje,AO,69.03,broken clouds,-9.5402,16.3410,Hotel Ginga
712,Korla,CN,78.58,clear sky,41.7597,86.1469,Gulisitan Hotel
713,Darlawn,IN,69.69,light rain,24.0167,92.9000,BNRGSK BUILDING
714,Bend,US,87.08,clear sky,44.0582,-121.3153,Fairfield Inn & Suites by Marriott Bend Downtown
716,Zlutice,CZ,66.87,broken clouds,50.0919,13.1630,Penzion Nad Hradbami

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{weather description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))